/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/storage
/storage/framework
/node_modules
/storage
/storage/framework/views
/storage
storage/framework/views/4d27636f9d89de8988dfb642fc25c8cc.php
/storage
